body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(227, 227, 255);
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    flex-wrap: wrap;
}

.card{
    background-color: blue;
    padding: 0;
    max-width: 175px;

    max-height: 200px; 
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    font-family: monospace;
    margin: 25px;
    font-size: 20px;
} 

img {
    padding: 0;
    margin: 0;
    max-height: 100%;
    max-width: 100%;
    border-radius: 1rem;
    object-fit: contain;
    border-style:solid;
    border-width: 0.4rem;
    border-color: rgb(173, 173, 255);
}

.header{
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header button{
    width: 100px;
    height: 20px;
}

.header button, .header input {
    margin: 3px;
}


.header, .footer{
    background-color: rgb(74, 74, 117);
}
.footer{
    min-height: 50px;
    display: flex;
    justify-content: center;
}

.all{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh 
}