
.card{
    background-color: rgb(230, 230, 230);
    height: 10rem; 
    width: 10rem; 
    border-radius: 1rem;
    border-color: rgb(129, 129, 129);
    border-width: 0.1rem;
    box-shadow: 0.1rem 0.1rem 0 0 rgb(129, 129, 129);
    padding: 0.5rem; 
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.top, .bottom{
    width: 100%;
    display: flex;
    font-size: 1rem; 
}

.top{
    background-color: lightblue;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.bottom{
    background-color: lightgoldenrodyellow;
    height: 30%;
    justify-content: space-between;
    align-items: center;
}

.bottom > *{
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.top img, .top .productInfo{
    max-height: 100%;
    width: 100%;
}

.productInfo{
    display: flex;
    justify-content: center;
    align-items: center;
}

input{
    width: 1.3rem; 
    height: 1.3rem; 
    text-align:center; 
    border-radius: 1rem;
    border-width: 0.05rem;
    border-style: solid;
    font-size: 1rem; 
    padding: 0; 
    padding-top: 0.1rem; 
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

button{
    padding: 0;
    margin: 0.1rem;
    height: fit-content;
}
.modify{
    border-width: 0;
    font-size: 1.5rem; 
    height: 1rem; 
    width: 1rem;
    background-color: transparent;
}

.minus {
    position: relative; 
    top: -0.1rem; 
}

.modify:hover{
    text-shadow: 0 -1px lightgreen, 0 1px lightgreen, 1px 0 lightgreen, -1px 0 lightgreen;
}

.center{
    display: flex; 
    justify-content: center;
    align-items: center;
}
.modifyBtns{
    background-color: lightblue;
    border-radius: 1rem; 
}
