
.card{
    background-color: rgb(230, 230, 230);
    height: 100px; 
    width: 100px; 
    border-radius: 1rem;
    border-color: rgb(129, 129, 129);
    border-width: 0.1rem;
    box-shadow: 0.1rem 0.1rem 0 0 rgb(129, 129, 129);
    padding: 0.5rem; 
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.top, .bottom{
    width: 100%;
    display: flex;
    
}

.top{
    background-color: lightblue;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.bottom{
    background-color: lightgoldenrodyellow;
    height: 30%;
    justify-content: space-between;
    align-items: baseline;
}

.top img, .top .productInfo{
    max-height: 100%;
    width: 100%;
}

.productInfo{
    display: flex;
    justify-content: center;
    align-items: center;
}

input{
    width: 15px; 
    text-align: center;
    padding: 0; 
    margin: 0;
    border-radius: 1rem;
    border-width: 0.05rem;
    border-style: solid;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

button{
    padding: 0;
    margin: 0.1rem;
    height: fit-content;
}
.modify{
    border-width: 0px;
}

.modify:hover{
    text-shadow: 0 -1px lightgreen, 0 1px lightgreen, 1px 0 lightgreen, -1px 0 lightgreen;
}
